.dataRow {
  margin-top: 35px;
}
.mapRow {
  height: 400px;
}
.tableRow {
  margin-top: 50px;
}
.leaflet-container {
  margin-top: 35px;
  border: 1px solid black;
  background: white;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}